# Entorno Virtual de Python
# El Proyecto/venv/ no es necesario, ya que el venv/ ignora todas las carpetas con ese nombre
Proyecto/venv/ 
venv*/
.venv/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyd

# VSCode
.vscode/

# env files
.env