requests==2.32.3          # Para acceder a APIs o páginas web
pandas==2.2.2             # Para manejar tablas y CSVs
selenium==4.38.0          # Para automatizar navegadores
webdriver-manager==4.0.1  # Para gestionar drivers (Chrome, Edge, etc.)
schedule==1.2.1           # Para tareas automáticas
matplotlib==3.9.2
numpy==1.24.3
fastapi==0.102.0
uvicorn[standard]==0.23.1
pydantic==2.7.0
typing-extensions>=4.15.0,<5.0.0
httpx==0.24.0
python-dotenv==1.0.0
pytest==8.3.2
loguru==0.7.0